---
services:
  mytherion_postgres:
    image: postgres:17.4
    container_name: mytherion_postgres
    hostname: mytherion_postgres
    environment:
      POSTGRES_USER_FILE: /run/secrets/pg_user
      POSTGRES_DB: ${POSTGRES_DB:-mytheriondb}
      POSTGRES_PASSWORD_FILE: /run/secrets/pg_pw
    secrets:
      - pg_user
      - pg_pw
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      #      - ./data:/var/lib/postgresql/data
      - ./logs:/var/log/postgresql
      - ./certs:/var/lib/postgresql/certs
    #    command: >
    #      postgres -c ssl=on
    #               -c ssl_cert_file=/var/lib/postgresql/certs/server.crt
    #               -c ssl_key_file=/var/lib/postgresql/certs/server.key
    #               -c logging_collector=on
    #               -c log_directory=/var/log/postgresql
    #               -c log_filename=postgresql.log
    #               -c log_statement=all
    #               -c log_connections=on
    #               -c log_disconnections=on
    #               -c log_destination=stderr,csvlog
    #               -c log_rotation_age=1d
    #               -c shared_preload_libraries=pg_stat_statements
    #               -c pg_stat_statements.track=all
    restart: unless-stopped
  #    network_mode: "host"

  mailhog:
    image: mailhog/mailhog:latest
    container_name: mytherion_mailhog
    ports:
      - "1025:1025" # SMTP server
      - "8025:8025" # Web UI
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: mytherion_minio
    ports:
      - "9000:9000" # API
      - "9001:9001" # Console
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    restart: unless-stopped

volumes:
  minio_data:
    driver: local

secrets:
  pg_user:
    file: ./secrets/pg_user.txt
  pg_pw:
    file: ./secrets/pg_pw.txt
